<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
    <a href='/' data-role="ajax">Start</a>
    <a href='/login' data-role="ajax">Login</a>
    <a href='/test' data-role="ajax">Test</a>

    <h1 id='h1'>{{h1}}</h1>
    <div id='content'>
      {{{content}}}
    </div>

  <script src='/bundle.js'></script>
</body>
