{{#if error}}
  <p>Error: {{error}}</p>
{{/if}}

<form id='loginForm'>
  <label>Nickname:</label> <input type='text' name='nickname'><br>
  <label>Password:</label> <input type='password' name='password'><br>
  <input type='submit' value='login'>
</form>
